<!DOCTYPE html>
<html>
<head>
	<title>Tweet Analytica</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

	<link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

	<style>
		html {
			background: url("/images/wallpaper-twitter-WowWindows8-2560x1600.png") no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		body {
			padding-top: 20px;
			font-size: 16px;
			font-family: "Open Sans",serif;
			background: transparent;
		}

		h1 {
			font-family: "Abel", Arial, sans-serif;
			font-weight: 400;
			font-size: 40px;
		}

		/* Override B3 .panel adding a subtly transparent background */
		.panel {
			background-color: rgba(255, 255, 255, 0.9);
		}

		.margin-base-vertical {
			margin: 40px 0;
		}

	</style>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-transparent">

				<h1 class="margin-base-vertical">Analyze with</h1>


				<form method="get" action="/searchHandle" class="margin-base-vertical">
					<p class="help-block text-center"><small></small></p>
					<p class="text-center">
						<button type="submit" class="myButton">Twitter Handle</button>
					</p>
					<br>
					
					<p class="help-block text-center"><small></small></p>
					<p class="text-center">
						<button type="submit" class="myButton">Trending Topic</button>
					</p>
					</span>
				</form>

				
			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->

</body>
</html>