<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> MMR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:500' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   
 	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
 /*    		html {  
  			background: url("/images/mmrImage1.jpg") no-repeat center center fixed;  
  			-webkit-background-size: cover;  
  			-moz-background-size: cover;  
  			-o-background-size: cover;  
  			background-size: cover;  
  		}   */
body{
font-family: 'Oswald', sans-serif;
padding-top: 20px;
}

/* 		body { */
/* 			padding-top: 0px; */
/* 			font-size: 16px; */
/* 			font-family: "Open Sans",serif; */
/* 		} */

  
  </style>
  
<body>
<!--Nav bar starts-->
<div class="wrapper" style="background-image: url("/images/mmrImage1.jpg") no-repeat center center fixed;">
<img id="backgroundimage" src="/images/mmrImage1.jpg" alt="">
<div class="container-full" >
<nav  class="navbar navbar-default navbar-fixed">
	
	
	<ul class="nav navbar-nav custom">
	 <li><a href="#">Home</a> </li>
	<li><a href="#">Admissions</a></li>
	<li><a href="#">Academics</a></li>
	<li><a href="#">AboutUs</a></li>
	<li><a href="#">Alumni</a></li>
	<li><a href="#">News Plus</a></li>
	<li><a href="#">ContactUs</a></li>
	
	</ul>
		
	
</nav>
</div>
</div>
<br>
<div class="container-full" id="top-n" >
<div class="abc">
<h1>Image goes here</h1>
</div>
</div>

</body>